
.card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-bottom: 10px;
}
.imgRedonda {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.botonCentrado {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}